*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  position: relative;
  
}
.nike-video {
  width: 200px;
 

}

.video {
  width: 720px;
  position: relative;
  height: 100%;
}


body{
  min-height:1200px;
}

.imagelogo {
width: 200px;

}
.morespace {
  height: 20px;
  color: grey;
  position: relative;
  z-index: 100000000000;
  display: block;


}
header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
 margin-bottom: 1000px;
}
 body{
  background: grey;
}
.logo {

  font-size: 30px;
  font-weight: 700;
  color: white
  
}
.boxup {
  height: 100px;
  color: grey;
}
.logobox {
  width: 2000px;
  display: flex;
}
.navlist {
  display: flex;
  margin-top: 00px;
}

.navlist a{
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px  solid transparent;
  transition: all .55 ease;

}
.navlist a:hover {
  border-bottom: 2px solid white;
}
.watch-ad {
  background-color: transparent;
  border: none;
  
}
#menu-icon{
  color: white;  
  font-size: 35px;
  z-index: 10001;
  cursor: pointer; 
  display: none;
} 
.hero {
width: 100%;
height: 10px;
min-height: 100vh;
background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53% #133917 75.52%);
position: relative;
display: grid;
grid-template-columns: repeat(2, 370px 1fr);
align-items: center;
gap: 2rem;
margin-top: -50px;
}

.video-container {
width: 500px;

}

.video-file {
  width: 100%;
 
}
.videobox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 140px;
  justify-content: space-between;
 
}
.spaceisneeded {
  height: 60px;
  background-color: rgb grey;
  font-size: 300px;
  color: grey;
}

@media (max-width: 1535px){
  header{
    padding: 15px 3%;
    transition: .2s;
  }
  .icons{
    padding: 0 3%;
    transition: .2s;
  }
  .scroll-down{
    right: 3%;
    transition: .2s;
  }
}
@media (max-width: 1460px){
  section{

    padding: 0 12%;
    transition: .2s;
  }
}

@media (max-width: 1195px){
 section{
  padding: 0 3%;
  transition: .2s;
  display: block;
 }
 .hero-text{
  display: block;
  z-index: 1000;
 }
 .boot{
  text-align: center;
  
 }
 .boot img{
  width: 500px;
  height: auto;
  margin-top: -1000000px;
  padding-left: 200px;
  padding-bottom: 100px;


 }
 .hero{
  height: 100%;
  gap: 1rem;
  grid-template-columns: 1fr;
  display: block;
 }
 .icons{
  display: none;
 }
 .scroll-down{
  display: none;
 }
}

@media (max-width: 990px){
  #menu-icon{
    display: block;

  }
  .navlist{
    position:absolute;
    top: 100%;
    right: 100%;
    width: 300px;
    height: 40vh;
    background: rgb(188, 188, 188);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
  }
  .navlist a{
    margin-left: 0;
    display: block;
    margin: 7px 0; 
  }
  .navlist.open{
    right: 0;
  }
  .a.ctaa {
    display: block;
  }
}
@media (max-width:300px){
.boot img{
  width: 100%;
height: auto;
position: rel
}
}